body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  width: 1440px;
}

a {
  text-decoration: none;
}

ul .menu {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

header {
  height: 100px;
  padding: 0 15px;
}

.menu-logo {
  display: flex;
  align-items: center;
  position: relative;
  color: #121212;
  font-size: 14px;
  font-weight: 700;
  line-height: 23px;
  padding-left: 25px;
}

.circle {
  background-color: black;
  color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  margin-right: 4px;
}

span {
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
}
nav {
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: #fff;
  z-index: 2;
}

.container-header {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.menu {
  display: flex;
  align-items: center;
  margin: 0;
  padding-left: 73px;

  /* padding: 42px 62px 45px 0; */
}

.menu-item {
  position: relative;
  margin-right: 63px;
}

.menu-link {
  align-items: center;
  text-decoration: none;
  color: #333;
}

/* .sub-header-item {
  padding-left: 126px;
} */

.sub-menu {
  display: flex;
  align-items: center;
  /* padding: 42px 126px 493px 45px; */
}

.sub-menu-link {
  text-decoration: none;
  color: #333;
}

h1 {
  color: #121212;
  font-size: 60px;
  font-weight: 400;
  line-height: 72px; /* 120% */
  letter-spacing: -0.5px;
  margin: 0;
}

.registration {
  display: flex;
  align-items: center;
}

.btn-sign {
  background-color: #f5f2ec;
  color: #553c16;
  font-family: inherit;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 13px;
  letter-spacing: 0.5px;
  width: 169px;
  height: 100px;
  border-radius: 0 0 0 20px;
  border: none;
  margin-left: 65px;
}

.register-text {
  color: #7d8186;
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.3px;
}

.email-text {
  color: #000;
  font-size: 23px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.23px;
}

.hero-btn {
  background-color: #725ba1;
  color: #fff;
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.323px;
  width: 184px;
  height: 67px;
  border-radius: 10px;
  border: none;
  margin: 28px 28px 28px 146px;
}

.email {
  display: flex;
  align-items: center;
  text-align: left;
  padding: 10px;
  margin-bottom: 20px;
  width: 661px;
  height: 123px;
  box-shadow: 0px 30px 80px rgba(47, 65, 88, 0.2);
}

.text-container {
  display: flex;
  flex-direction: column;
}

.register-text {
}

.hero-section {
  position: relative;
  margin-top: 80px;
  margin-bottom: 80px;
  max-height: 1023px;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

.hero-text {
  width: 482px;
  height: 335px;
  padding-left: 50px;
}

.hero-text p {
  width: 392px;
  height: 61px;
  color: #21383e;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.5px;
}

.sign {
  margin-left: 500px;
  color: #553c16;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 13px;
  letter-spacing: 0.5px;
}

.dot {
  margin-top: 25px;
}

.music {
  margin-left: 50px;
}

.g-notebook {
  padding-left: 31px;
}

.g-phone {
  padding-left: 67px;
}
